#Disallow viewing of htaccess files
<Files .htaccess>
order allow,deny
deny from all
</Files>
<IfModule mod_rewrite.c>
   Options +FollowSymLinks -MultiViews
   AddDefaultCharset utf-8
   RewriteEngine On
   RewriteCond %{REQUEST_URI} ^/(assets|assets-cached|images|files|sitemap|sitemap.xml|docs)
   RewriteRule ^sitemap\.xml$ sitemap.xml [L]
   RewriteRule ^assets/(.*)$ assets/$1 [L,PT]
   RewriteRule ^assets-cached/(.*)$ assets-cached/$1 [L,PT]
   RewriteRule ^images/(.*)$ images/$1 [L,PT]
   RewriteRule ^files/(.*)$ files/$1 [L,PT]
   RewriteRule ^docs/(.*)$ docs/$1 [L,PT]
   RewriteRule ^sitemap/(.*)$ sitemap/$1 [L,PT]
   # without trailing slash
   RewriteRule ^account(/.+)?$ account/$1 [L,PT]
   # with trailing slash
   RewriteRule ^account/(.+)?$ account/$1 [L,PT]
   RewriteRule ^(.+)?$ frontend/$1 [L,PT]
</IfModule>
Options -Indexes