.r-parent {
    max-width:800px;
    margin: 0 auto;
}
.r-head-data {
    color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background-color:cadetblue;
}
.user-name {
    font-size: 30px;
    font-family: roboto;
    text-transform:capitalize;
}
.user-work {
    font-size: 20px;
    font-family: roboto;
}
.r-left {
    float: left;
    width: 34%;
}
.r-right {
    width: 65%;
    float: left;
}
.user-photo{
    text-align: center;
    padding: 25px 0px;
}
.user-photo img{
    width: 100px;
    height: auto;
}
.hed{
    text-align: center;
    font-size: 18px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    color: cadetblue;
}
.u-txt, .user-detail{
    font-size:15px;
    font-family:roboto;
}
.user-detail {
    padding:10px 20px 15px 20px;
    text-align: center;
}
.right-head {
    font-size: 20px;
    text-align: center;
    padding:10px 0px;
    color: black;
    font-family:roboto;
    text-transform: uppercase;
    font-weight: 500;
    position:relative;
    z-index: 1;
}
.right-head span{
    background-color:#fff;
    padding: 0px 20px;
    color:cadetblue;
}
/*.right-head::after {*/
    /*height: 3px;*/
    /*content: " ";*/
    /*text-shadow: none;*/
    /*background-color:black;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 23px;*/
    /*z-index: -1;*/
    /*right: 0;*/
/*}*/
.user-inner-d {
    padding: 10px 0px 0px 0px;
}
.user-year span, .user-stdy span{
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    color: #000;
}
.user-desc {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    padding-left:5px;
}
.user-uni {
    font-size: 18px;
    font-family: roboto;
    text-transform: none;
}
.langs {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}