.hed-main{
    max-width: 750px;
    margin: 0 auto;
}
.hed-res{
    background-color: #a4a4afba;
    border: 1px solid #a4a4afba;
}
.mar-b {
    padding-left: 10px;
}
.hed-res h3{
    font-size: 24px;
    font-family: cursive;
    font-weight: 600;
    color: #000;
}
.hed-res p{
    font-size: 16px;
    font-family: cursive;
    color: #000;
}
.personal-summary h3, .usr-skills, .educaton-text, .work-experence{
    background-color: #a4a4afba;
    border: 1px solid #a4a4afba;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    font-weight: 600;
    color: #000;
}
.personal-summary p{
    color: #000;
    font-size: 16px;
    font-family: cursive;
}
.skillss{
    padding: 10px;
    font-size: 16px;
    font-family: cursive;
    color: #000;
}
.educaton-date, .experince-date{
    padding: 10px;
    font-size: 16px;
    font-family: cursive;
    color: #000;
    font-weight: 600;
}
.educaton-location, .experince-loc{
    padding: 10px;
    font-size: 16px;
    font-family: cursive;
    color: #000;
}