.r-parent {
    border: 2px solid #eee;
    padding:0;
    background-image: linear-gradient(to right, #000 33%, #fff 0%);
    width: 750px;
    margin: 0 auto;
}
.container-fluid::after, .container-fluid::before, .container::after, .container::before, .r-parent::after, .r-parent::before {
    display: table;
    content: " ";
}
.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dropdown-menu > li > a, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .r-parent::after {
    clear: both;
}
.r-head{
    background: url('/assets/themes/ey/images/internship-profiles/jobprofilebg.png');
    min-height: 200px;
    background-position: top;
    background-repeat: no-repeat;
}
.user-name {
    font-size: 35px;
    font-family: roboto;
    color:#000;
    text-transform: capitalize;
    text-align: center;
}
.user-work {
    font-size: 25px;
    font-family: roboto;
    color:#000f1e;
    text-align:center ;
}
.r-left {
    background-color:black;
    padding:20px !important;
    float: left;
    width: 245px;
}
.r-right{
    float: left;
    max-width: 500px;
    padding: 10px 5px 10px 20px;
}
.hed{
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
}
.u-txt, .user-detail > ul > li {
    font-size: 15px;
    font-family: roboto;
    background: cadetblue;
    display: inline-block;
    margin: 2px;
    padding: 2px 9px;
    border-radius: 5px;
}
.u-txt-new{
    font-size:15px;
    font-family:roboto;
}
.user-detail {
    padding:5px 0px 10px 0px;
    color:#fff;
}
.right-head {
    font-size: 20px;
    padding:10px 0px;
    color: black;
    font-family:roboto;
    text-transform: uppercase;
    font-weight: 600;
}
.user-year span, .user-stdy span{
    font-size: 16px;
    padding-right: 5px;
    font-weight: 500;
}
.heading-set {
    color: cadetblue;
    font-size: 18px;
}
.user-desc {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    padding-left:16px;
}
.user-desc > ul {
    padding: 0 !important;
}
.user-desc > ul > li{
    list-style:disclosure-closed;
}
.user-uni {
    font-size: 18px;
    font-family: roboto;
    text-transform: none;
    font-weight:500;
}
.langs, .projects {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}
.user-detail > ul{
    padding: 0 !important;
}