.res-main {
    max-width: 750px;
    margin: 0 auto;
}
.head-left{
    float: left;
    width: 33%;
    background-color: #8da0cd;
    padding: 36px 30px;
}
.head-right{
    width: 67%;
    float: right;
    background-color: #e9ecf5;
    padding: 33px 36px;
}
.u-name{
    font-family: cursive;
    font-size: 35px;
    color: #8a8a8e;
    font-weight: 600;
    margin-bottom: 25px;
}
.u-location{
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #6d6a6a;
    margin-bottom: 21px;
}
.u-location img{
    margin-top: 10px;
}
.head-right h1{
    font-family: cursive;
    font-size: 18px;
    font-weight: 600;
    color: #9b9b9b;
}
.head-right p{
    margin: 20px 0;
    font-size: 13px;
    font-family: Trebuchet MS;
    color: #8f929b;
    font-weight: 600;
}
.user-exp{
    float: right;
    width: 67%;
    background-color: #fff;
    padding: 33px 36px;
}
.exp-txt{
    font-family: cursive;
    font-size: 18px;
    font-weight: 600;
    color: #9b9b9b;
}
.exp-date, .edu-date{
    margin-top: 10px;
    font-family: cursive;
    font-weight: 600;
    color: #9b9b9b;
}
.edu-txt{
    margin-top: 30px;
}
.lo-name, .ed-name{
    font-family: cursive;
    font-weight: 600;
    color: #9b9b9b;
}
.lo-pos, .edu-position{
    font-family: cursive;
    color: #9b9b9b;
}
.us-skill, .edu-txt{
    font-family: cursive;
    font-size: 18px;
    font-weight: 600;
    color: #9b9b9b;
}
.skill{
    margin-top: 10px;
    font-family: cursive;
    color: #9b9b9b;
}
.skls{
    float: left;
    width: 33%;
    background-color: #e9ecf5;
    padding: 33px 36px;
}
.addr{
    font-family: cursive;
    font-size: 15px;
}


