/* <!---blog css starts --->  */
.single-item-hoverly .img-box {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.single-news-content {
    position: relative;
    padding-bottom: 17px;
    box-shadow:0px 1px 10px 1px rgba(66, 66, 66, 0.5);/* 0px 3px 10px 2px rgba(204, 204, 204, 0.5);*/
    margin-bottom: 10px;
    border-radius: 10px;
    z-index: 1;
    min-height: 460px;
}
.single-item-hoverly .overlay {
    position: absolute;
    text-align: center;
    left: 0px;
    align-items: center;
    justify-content: center;
    top: 0px;
    width: 100%;
    display: flex;
    height: 0%;
    background: rgba(108, 150, 255, 0.40);
    transition: .5s cubic-bezier(0.4, 0, 1, 1);
    opacity: 0;
    visibility: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.single-item-hoverly .overlay, .video-gallery:hover .overlay-gallery {
    background: #f077066b;
}
.single-item-hoverly .img-box img {
    width: 100%;
}
.single-news-content .meta {
    position: relative;
    display: block;
    background: #6c96ff;
    padding: 13px 0px 13px 30px;
    color: #fff;
    margin-bottom: 26px;
}
.single-news-content.first-column {
    padding-bottom: 13px;
}
.switcher .switch_btn button, .main-header, .navigation > li > ul > li:hover, .search-box-area .form-group 
button, .btn-bg, .single-working-content:hover .icon, .single-working-content .count-text, .owl-theme 
.owl-dots .owl-dot span, .single-help-content.fourth-column .input-box button, .single-news-content .meta, .team-section .owl-theme .owl-controls .owl-nav .owl-prev:hover, .team-section .owl-theme .owl-controls 
.owl-nav .owl-next:hover, .single-team-content .team-social li a, .our-history .owl-theme .owl-controls 
.owl-nav .owl-prev:hover, .our-history .owl-theme .owl-controls .owl-nav .owl-next:hover, .offer-content 
.offer-btn a, .accordion-box .accordion .acc-btn .title h3, .service-sidebar-content .categories-list li 
a.active, .service-sidebar-content .categories-list li a:hover, .service-sidebar-content .download a, .service-sidebar-content .share li a, .sidbar-page-container .sidebar-search .input-box button, .link-btn li a:hover, .link-btn li a.active, .blog-details-content .post-share-option .left-content 
.post-social li a:hover, .contact-section .contact-form-area, .single-pricing-content:hover .pricing-btn a {
    background: #f07706;
}
.single-news-content .meta li {
    position: relative;
    margin-right: 35px;
    font-size: 13px;
}
.in-block li {
    display: inline-block;
}
/*.single-news-content .meta li:before {
    position: absolute;
    content: "";
    background: #fff;
    width: 1px;
    height: 13px;
    top: 7px;
    right: -20px;
}*/
.single-news-content .lower-content {
    padding: 0px 20px 0px 30px;
}
.single-news-content .lower-content h4 {
    line-height: 21px;
}
.single-news-content .lower-content h4 a {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 21px;
}
.lower-content .text p {
    position: relative;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    line-height: 25px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 10px;
    font-style: normal;
    transition: all 500ms ease;
}
.single-item-hoverly:hover .overlay {
    height: 100%;
    transition: .5s cubic-bezier(0.4, 0, 1, 1);
    opacity: 1;
    visibility: visible;
}
.btn-one:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.btn-one:hover{
    color:#fff;
}
.btn-one:before {
    background-color: #000000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    border-radius: 5px;
    top: 0;
    transform: scale(0.5, 1);
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: -1;
}
.search-box-area input, .btn-bg, .single-help-content, .single-help-content .button a, .single-help-content 
.skype a, .single-help-content.fourth-column .input-box input, .apps-content .apps-box .single-apps-box, .logo-widget .footer-social li a:hover, .service-sidebar-content .categories-list li a.active, .service-sidebar-content .categories-list li a:hover, .sidbar-page-container .sidebar-search input, .blog-details-content .comment-form input:focus, .blog-details-content .comment-form textarea:focus, .contact-section .contact-info .icon-box, .contact-section .social-info li a, .single-pricing-content:hover 
.pricing-btn a {
    border-color: #82a5fd;
}
.switcher .switch_btn button, .main-header, .navigation > li > ul > li:hover, .search-box-area .form-group button, .btn-bg, .single-working-content:hover .icon, .single-working-content .count-text, .owl-theme .owl-dots .owl-dot span, .single-help-content.fourth-column .input-box button, .single-news-content .meta, .team-section .owl-theme .owl-controls .owl-nav .owl-prev:hover, .team-section .owl-theme .owl-controls .owl-nav .owl-next:hover, .single-team-content .team-social li a, .our-history .owl-theme .owl-controls .owl-nav .owl-prev:hover, .our-history .owl-theme .owl-controls .owl-nav .owl-next:hover, .offer-content .offer-btn a, .accordion-box .accordion .acc-btn .title h3, .service-sidebar-content .categories-list li a.active, .service-sidebar-content .categories-list li a:hover, .service-sidebar-content .download a, .service-sidebar-content .share li a, .sidbar-page-container .sidebar-search .input-box button, .link-btn li a:hover, .link-btn li a.active, .blog-details-content .post-share-option .left-content .post-social li a:hover, .contact-section .contact-form-area, .single-pricing-content:hover .pricing-btn a{
    background: #f07706;
}
.btn-bg {
    border: 2px solid #ff7b00;
}

.btn-one {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    padding: 1px 22px 2px 23px;
    color: #fff;
    position: relative;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
}

/* <!---blog css ends --->  */