.justify {
    text-align: justify;
}
.tabs { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.custom .nav nav-tabs boot-tabs {
    color: white; 
}
.tab-pane active {
    color: white;
}
.tab-content tab-pane.active p{
    color:white;
}
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.stripe {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(-4deg, #fff, #fff 27%, rgba(0,0,0,0) 27.3%), linear-gradient(176deg, #fff, #fff 27%, rgba(0,0,0,0) 27.3%), linear-gradient(80.2deg, #82282c, #1a1818);
}
section > .container, section > .container-fluid {
    padding-top: 20px!important;
    padding-bottom: 0px!important;
}
/*designing without line and circle*/
.tab-content{
    margin-top: 0;
    background: transparent;
    font-size: 14px;
    color: #333333;
    line-height: 1.7;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border: none !important;
}

.tab .tab-content p{
    font-size: 14px;
    margin-top: 0;}
@media only screen and (max-width: 479px){
    .tab .nav-tabs{ margin-bottom: 0; }
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
}
.text-back{
    color: white !important;
}
.divider .containers {
    padding-bottom: 70px;
}
/*Mega Menu*/

.dropdown-megamenu {
    float: left;
    overflow: hidden;
}
.dropdown-megamenu .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 8px 16px;
}
.navbar a:hover, .dropdown-megamenu:hover .dropbtn {
    background-color: #ff853f;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-megamenu:hover .dropdown-content {
    display: block;
}
/* Clear floats after the columns */
.dropdown-megamenu .row:after {
    content: "";
    display: table;
    float:left;
}
.dropdown-submenu{
    float: left;
    width: 230px;
    font-size:12px;
}
.dropdown-c{
    clear: both;
}
.dropdown-submenu ul{
    float: left;
}
.menu{
    width: 180px;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
ul.list {
    list-style: outside none none;
    margin-top: 13px;
    padding-left: 0;
    margin-left: 25px;
}

.footer .widget .widget-title {
    margin-top: 0px;
    text-align: center;
    color:white;    
}

.footer .widget .widget-title1 {
    margin-top: 0px;
    color:white;
}
.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
@media (max-width: 500px) {
    .menuzord-responsive .menuzord-brand {
        margin: 8px 0 6px 0 !important;
    }
}
.btn{
    font-size: 13px;
    padding: 12px 22px;
}
.caption p {
    min-height: 42px;
}
.panel-group .panel-title a:after {
    color: #ff853f !important;
}

.panel-group .panel-title a.active::after {
    color: #fff !important;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: caption;
    color: #000000b3;
}
/*bod css*/
.text-orange{
    color:#f08440 !important;
}
.nav-tabs li.active a{
    border:0px !important;
}
.dropdown-submenu ul li a{
    padding: 2px 20px;
    white-space: nowrap; 
    overflow: hidden;
}
.company{
    height: 380px;
    width: 4001px;
}
.set_container{
    padding:20px 15px 0px 15px !important;    
}
.header-white{
    background-color: #fff;
}
.header-transparent{
    background-color: transparent;
}
.side{
    margin-top: 68px;
}
/* Headings css starts*/
.heading-style{
    font-family: lobster;
    font-size: 28pt;
    text-align: left;
    margin: 15px 5px;
}
.heading-style:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 5px 52px;
    border-color: #f07706;
}
@media screen and (max-width: 400px){
    .heading-style {
        font-size: 23pt;
    }
}
/* Headings css ends*/
.has-success .form-control:focus {
    border-color: #337ab7 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #337ab7 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #337ab7 !important;
}
.has-success .form-control{
    border-color: #337ab7 !important;
}

/* Old Cards css starts*/
.shadow{
    box-shadow: 0 1px 3px 0px #797979;
}
.color-o{
    background:#FF4500 !important;
}
.product *:not(i) {
    font-family: Georgia !important;
}
.product {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding: 0px 10px 10px 10px;
    background-color: #fff;
}
.set_logo img{
    height: 100%;
    width: 100%;
}
.set_logo {
    display: block;
    margin-top: 20px;
    margin-left: 6px;
}
.btn-add-to-cart-wrapper {
    margin-bottom: 10px !important;
    z-index: 99;
}
.btn-add-to-cart-wrapper a {
    padding: 10px 15px !important;
}
.custom_color2 {
    color: #fff !important;
}
.hr {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.custom_set {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.custom_set2 {
    margin-bottom: 0px !important;
}
.custom_color:hover{
    color:#f08340 !important;
}
.custom_color2:hover{
    color: #202c45 !important;
}
.sidebar-logo-main{
    padding: 5px 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 20px 1px #bbbbbb8c;
    margin-top: 5px;
}
.side-bar_logo{
    /*border-radius: 50%;*/
    width: 100%;
    height: 100%;
}
.ui-draggable-dragging{
    z-index: 999;
}
.tag-load{
    margin: 0;
    top: 0;
    display: block;
    left: auto;
    right: 0;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    padding: 4px 10px 4px 16px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    z-index: 9;
}
/* Old Cards css ends*/

/* New Cards css Starts*/
.application-card-main{
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 3px 0px #797979;
    background-color: #fff;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.application-card-main *:not(i) {
    font-family: Georgia !important;
}
.application-card-type{
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    right: 0;
    top: 0;
    color: #fff;
    padding: 4px 15px;
    background:#FF4500;
    font-size: 13px;
    font-weight: 600;
}
.application-card-img{
    position: relative;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    display: block;
    box-shadow: 0px 2px 20px 1px #bbbbbb8c;
    width: 80px;
    margin-left: 18px;
    margin-top: 15px;
    overflow: hidden;
    float: left;
    line-height: 75px;
}
.application-card-img img{
    width: 100%;
    height: auto;
}
.application-card-description{
    float: left;
    /*margin: 20px 0px 0px 20px;*/
    width: calc(100% - 100px);
}
.application-card-description h4{
    text-transform: capitalize;
}
.application-card-description h4, .application-card-description h5{
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.application-card-description h5:last-child{
    font-weight: normal;
}
.application-card-border-bottom{
    border-bottom: 1px solid #eee;
}
.application-card-wrapper{
    opacity: 0;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: -60px;
    margin: 0px 0px 5px;
    transition: all 400ms ease 0s;
}
.application-card-main:hover .application-card-wrapper{
    left: 0px;
    opacity: 1;
}
.application-card-wrapper a{
    padding: 8px 18px;
    margin: 0px 5px 0px 0px;
    min-width: 40px;
    display: inline-block;
    text-align: center;
    min-height: 40px;
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
}
.application-card-wrapper a i{
    margin-top: 4px;
}
.application-card-open{
    background-color: #202c45;
}
.application-card-add{
    background-color: #ed4303;
}
.org_name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 1290px) and (min-width: 992px){
    .application-card-description h4.application-title{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
.text-wrap-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* New Cards css ends*/

/* Cards loader css starts*/
.loader-main .product{
    margin-bottom: 15px !important;
}
.tag-load .anim{
    height: 25px;
    top: -5px;
    right: -10px;
    width: 85px;
}
.icon .anim{
    max-width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 0px;
}
.icon-box-title .anim{
    max-width:100%;
    height:25px;
}
.locations .anim{
    max-width:50%;
    height: 16px;
}
.periods .anim{
    max-width:40%;
    height: 14px;
}
.custom_set2 .anim{
    max-width:65%;
    margin:auto;
    margin-top: 5px;
}
.last-date .anim{
    max-width:46%;
    margin: 5px auto;
}
.custom_set .anim{
    width: 140px;
    height: 20px;
    margin-top: -2px;
}
.company-name .anim{
    max-width: 90%;
    height: 22px;
    float: right;
    margin-top: 17px;
}
.loader-inner-main{
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.loader-inner-main .tag-load{
    padding: 0px;
}
.loader {
    display: block;
    position:relative;
    width: 150px;
    height: 10px;
    background-color: #ECEFF1;
    border-radius: 4px;
}
.sidebar-logo-main ~ .anim{
    padding: 0px;
}
.sidebar-logo-main .anim{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.loader.anim.org-name {
    width: 82%;
    height: 14px;
    margin: 15px 5px;
}
.loader.anim.post-name {
    width: 70%;
    margin: 0px 5px;
}
.anim {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderAnim;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #ECEFF1 8%, #DBE2E5 18%, #ECEFF1 33%);
    background-size: 40rem 1rem;
    position: relative;
}
@keyframes placeHolderAnim {
    0% { background-position: -12rem 0; }
    100% { background-position: 12rem 0; }
}
/* Cards loader css ends*/

/*Text transformation css starts*/
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
::-webkit-input-placeholder {
   text-transform: initial;
}

:-moz-placeholder { 
   text-transform: initial;
}

::-moz-placeholder {  
   text-transform: initial;
}

:-ms-input-placeholder { 
   text-transform: initial;
}
/*Text transformation css ends*/
/*Dashboard button css starts*/
.custom-buttons{
    width:100%;
    color: #ffffff;
    background:#00a0e3 !important;
    font-size: 10px !important;
    padding: 8px 0px !important;
    margin-bottom:20px;
     -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    border-radius: 6px !important;
}
.custom-buttons:hover{
    color: #ffffff;
    box-shadow:0 0 10px rgba(0,0,0,.5) !important;
    transition:.3s all;
    -webkit-transition:.3s all;
    -moz-transition:.3s all;
    -ms-transition:.3s all;
    -o-transition:.3s all;
}
.btn-primary{
    color: #fff !important;
    background-color: #00A0E3 !important;
    border-color: #00A0E3 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover{
    color: #fff !important;
    background-color: #00A0E3 !important;
    border-color: #00A0E3 !important;
}
.main-blue-btn{
    width:100%;
    color: #ffffff;
    border: 0px;
    background:#00a0e3 !important;
    margin-bottom:20px;
     -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    border-radius: 6px !important;
}
.main-blue-btn:hover, .main-blue-btn:focus{
    color: #ffffff;
    border: 0px;
    box-shadow:0 0 10px rgba(0,0,0,.5) !important;
    transition:.3s all;
    -webkit-transition:.3s all;
    -moz-transition:.3s all;
    -ms-transition:.3s all;
    -o-transition:.3s all;
}
.main-orange-btn{
    width:100%;
    color: #ffffff;
    border: 0px;
    background:#ff7803 !important;
    margin-bottom:20px;
     -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    border-radius: 6px !important;
}
.main-orange-btn:hover, .main-orange-btn:focus{
    color: #ffffff;
    box-shadow:0 0 10px rgba(0,0,0,.5) !important;
    border: 0px;
    transition:.3s all;
    -webkit-transition:.3s all;
    -moz-transition:.3s all;
    -ms-transition:.3s all;
    -o-transition:.3s all;
}
/*Dashboard button css ends*/
/* owl Slider css starts */
#owl-carousel-4col .owl-stage-outer .owl-stage .owl-item .item{
    display: block;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#owl-carousel-4col .owl-controls .nav div {
    padding: 5px 9px;
}
.owl-nav i{
    margin-top: 2px;
}
#owl-carousel-4col .owl-controls .owl-nav div {
    position: absolute;
}
#owl-carousel-4col .owl-controls .owl-nav .owl-prev{
    left: -60px;
    top: 70px;
}
#owl-carousel-4col .owl-controls .owl-nav .owl-prev i, #owl-carousel-4col .owl-controls .owl-nav .owl-next i{
    font-size:64px !important;
}
#owl-carousel-4col .owl-controls .owl-nav .owl-prev, #owl-carousel-4col .owl-controls .owl-nav .owl-next{
    background: transparent !important;
}
#owl-carousel-4col .owl-controls .owl-nav .owl-next{
    right: -60px;
    top: 70px;
}
.owl-item{
    min-height:150px !important;
}
.partners-flex-box .logo-box:hover {
    -webkit-box-shadow: 0 17px 27px -9px #757575;
    box-shadow: 0 17px 27px -9px #757575;
    -webkit-transition: -webkit-box-shadow .7s !important;
    transition: -webkit-box-shadow .7s !important;
    transition: box-shadow .7s !important;
    transition: box-shadow .7s, -webkit-box-shadow .7s !important;
}
.partners-flex .partners-flex-box {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.partners-flex .partners-flex-box .logo-box {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display:block;
}
.partners-flex .partners-flex-box .image-partners {
    height: 100%;
    cursor: pointer;
    width: 100%;
}
.partners-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 1.5% auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.partners-flex .owl-carousel-4col .owl-controls .owl-nav > div{
    top:15% !important;
}
.partners-flex .owl-carousel-4col .owl-controls .owl-nav .owl-prev i, #company-slider .owl-controls .owl-nav .owl-next i {
    font-size: 52px !important;
}
.partners-flex .owl-carousel-4col .owl-controls .owl-nav .owl-prev, #company-slider .owl-controls .owl-nav .owl-next {
    background: transparent !important;
}
.partners-flex .owl-carousel-4col .owl-controls .owl-nav .owl-prev {
    left: -50px;
}
.partners-flex .owl-carousel-4col .owl-controls .owl-nav .owl-next {
    right: -50px;
}
/* owl Slider css ends */
/*Load more button css starts*/
.ajax-paginate-link .load-more-spinner {
    margin: -15px 0 0 -15px;
    visibility: hidden;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
}
.btn--primary.btn-border {
    display: block;
    position:relative;
    background-color: transparent;
    color: #0083ff;
    fill: #0083ff;
    border-color: #0083ff;
    padding: 16px 56px !important;
    border-radius: 50px;
    transition: all .3s ease;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    margin: auto;
    width: 240px;
}
.load-more-spinner:not(:root){
    overflow: hidden;
}
/*Load more button css ends*/

/*background slide button css starts*/
.i-review-nx {
    border: solid 2px #377ab6;
    color:#377ab6;
    padding: 10px 20px;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    font-family: inherit;
    position: relative;
    -webkit-transition: color 500ms linear;
    -moz-transition: color 500ms linear;
    -o-transition: color 500ms linear;
    transition: color 500ms linear;
}
.i-review-nx:hover {
    color: #FFF;
}
.i-review-button-tx {
    position: relative;
    z-index: 3;
}
.i-review-nx:hover::after {
    width: 100%;
}
.i-review-nx::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: 0;
    background-color: #377ab6;
    -webkit-transition: width .3s cubic-bezier(1,0,0,1);
    -moz-transition: width .3s cubic-bezier(1,0,0,1);
    -o-transition: width .3s cubic-bezier(1,0,0,1);
    transition: width .3s cubic-bezier(1,0,0,1);
}
/*background slide button css ends*/
/*    <!-- view-all button css start -->*/
.btn-3 {
    background-color: #424242;
}
.btn-3 .round {
    background-color: #737478;
}
.type-1{
    float:right;
    margin-top: 15px;
}
.type-1 div a {
    text-decoration: none;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 12px 53px 12px 23px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
}
.type-1 div a span {
    position: relative;
    z-index: 3;
}
.type-1 div a .round {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 3px;
    top: 3px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 2;
}
.type-1 div a .round i {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -4px;
    color: #333332;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.type-1 .txt {
    font-size: 14px;
    line-height: 1.45;
}
.type-1 a:hover {
    padding-left: 48px;
    padding-right: 28px;
}
.type-1 a:hover .round {
    width: calc(100% - 6px);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
.type-1 a:hover .round i {
    left: 12%;
    color: #FFF;
}
/*<!---- view-all button css ends --->*/