html, body {
    width: 100%;
    font-family: Lato;
}
.correct-ans{
    background-color: green !important;
}
.wrong-ans{
    background-color: red !important;
}
.container *{
    border-radius: 20px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.logo{
    max-width: 290px;
    display: block;
    margin: 10px auto;
    border-radius: 0px;
}
.quiz-main{
    min-height: 94vh;
    position: relative;
    display: block;
    margin: 4vh 0vh;
    border: 0px solid #9593A5;
    box-shadow: 0px 0px 0px silver;
    padding: 50px;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}
.fade-bg {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    border-radius: 0;
    z-index: -1;
}
.fade-bg-inner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.95;
}
.quiz-question {
    width: 100%;
    /* max-width: 500px; */
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    margin-bottom: 20px;
}

.quiz-answers {
    text-align: center;
    width: 550px;
    margin: 0 auto;
    display: block;
    padding-bottom: 5px;
}
/* .quiz-answers .btn{
  float: left;
  clear: both;
} */

.sweet-alert button {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
}
.quiz-button.btn {
    margin: 10px;
    background-color: #ddd;
    /* border-radius: 0; */
    text-transform: uppercase;
    white-space: normal !important;
    max-width: 250px;
    width: 250px;
    display: inline-block;
    padding: 15px 8px;
}

.quiz-button.btn:hover {
    background-color: #0096D2;
    color: #fff;
}



.question-image {
    width: 100%;
    max-width: 500px;
    margin-bottom: -80px;
    margin: 0 auto;
}

.results-ratio,
.results-social,
.quiz-title
{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px !important;
}
/*
.results-ratio,
.results-social,
.quiz-title {
  max-width: 600px;
} */

.question-image img {
    margin-top: 20px;

}
.image-credit {
    font-size: 12px;
    color: #696969;
    font-weight: 400;
    text-align: right;
    max-width: 1100px;
    margin: 0 auto;
}
/* .results-social{
 display: table;
} */
.correct-text {
    margin-top: 10px;
    font-style: italic;
    font-family: Georgia, serif;
}

.quiz-title {
    font-size: 38px;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 30px;
}

.results-ratio {
    margin: 20px auto;
    font-size: 24px;
    font-weight: bold;
}

/* .results-social {
    width: 270px;
    clear: both;
    padding-top: 20px;
} */
#social-text{
    margin-bottom: 20px;
    width: 275px;
}

/* .results-social a:not(:first-child) {
  margin-left: 20px;
} */

.progress-circles {
    position: relative;
    padding: 0;
    margin: 0;
    /*  left: 40px;*/
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    display: none;
}

.progress-circles.show {
    display: block;
}

.show{
    display:table !important;
}

.progress-circles li{
    list-style: none;
    display: inline-block;
    background: #ccc;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}
.progress-circles li.dark{
    background: #1696d2;
}


.follow-tw {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(icons-s973202652e.png);
    background-position: 0 -993px;
    height: 32px;
    width: 32px;
}
.follow-tw:hover{
    background-position: 0 -1401px;
}
.follow-fb {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(icons-s973202652e.png);
    background-position: 0 -1880px;
    height: 32px;
    width: 32px;
}
.follow-fb:hover{
    background-position: 0 -1433px;
}
.sweet-alert {
    margin-top: -251px !important;
    position: absolute;
}
@media (max-width: 540px){
    .quiz-question{
        font-size: 20px;
    }
    .sweet-alert {
        margin-top: -251px !important;
        position: absolute;
    }
    .sweet-alert h2{
        display: none;
    }
}

/* sharing icon css start*/
.effect {
    width: 100%;
    padding: 10px 0px 30px 0px;
}
.effect .buttons {
    display: flex;
    justify-content: center;
}
.effect a {
    text-decoration: none !important;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0px 10px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
}
.effect a i {
    position: relative;
    z-index: 3;
}
.effect a.fb {
    background-color: #3b5998;
}
.effect a.tw {
    background-color: #00aced;
}
.effect a.whats {
    background-color: #25D366;
}
a.login-s {
    background-color: #00a0e3;
    padding: 18px 22px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    display: block;
    max-width: 220px;
    margin: auto;
}
a.login-s:hover {
    border-radius: 25px;
    text-decoration: none;
}
/* jaques effect */
.effect.jaques a, a.login-s {
    transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}
.effect.jaques a:hover {
    border-radius: 50%;
}
/* sharing icon css ends*/
/* Keyframe animations */
@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes intro-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes reveal-stretch-element {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}
@media screen and (max-width: 768px) {
    #elem-h1-question{
        font-size: 25px;
    }
    .answer {
        font-size: 16px;
    }
    .elem-div-results-container{
        width: 135%;
        margin-left: -40px;
    }
}